@import 'src/styles';


.text {
    color: $color-text-light;
    font-size: 18px;
    font-weight: 300;
    line-height: 38px;
}

.text:hover {
    text-decoration: underline;
    cursor: pointer;
}
