.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 56px;
    background-color: transparent;
    color: #458FF6;
    border: solid 1.4px  #458FF6;
    border-radius: 55px;

    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
}