@import 'src/styles';

$full-width: 100%;
$horizontal-vector-bias: 744px;

.blockContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: clip;

    .title {
        color: $color-text-title;
        font-size: 36px;
        font-weight: 700;
        line-height: 56px;
    }

    .dividerContainer {
        margin-top: 26px;
        margin-bottom: 79px;
    }

    .cards {
        display: flex;
        flex-direction: row;
        gap: 34px;
    }

    .buttonContainer {
        margin-top: 72px;
    }

    .points {
        position: absolute;
        height: 115px;
        width: auto;
        left: 191px;
        top: 122px;
        z-index: -1;
    }

    .bgVector {
        position: absolute;
        width: 1120px;
        height: auto;
        transform: rotate(180deg);
        top: 0;
        left: calc($full-width - $horizontal-vector-bias);
        z-index: -1;
    }
}