@import 'src/styles';

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 56px;
    background-color: $color-button-blank-bg;
    color: $color-primary;
    border: solid 2px  $color-primary;
    border-radius: 55px;

    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
}