@import 'src/styles';

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;

    .item {
        font-size: 18;
        font-weight: 400;
        color: $color-navbar-not-selected;
        opacity: 50%;
    }

    .item:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}