.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;

    .item {
        font-size: 18;
        font-weight: 400;
        color: #1F1534;
        opacity: 50%;
    }
}