@import 'src/styles';

.container {
    position: relative;

    .bgVector {
        position: absolute;
        width: 1120px;
        height: auto;
        top: -259px;
        left: -506px;
        z-index: -1;
    }

    .bgPoints {
        position: absolute;
        height: 115px;
        width: auto;
        top: 287px;
        left: calc(100% - 80px);
        z-index: -1;
    }
    
    .cards {
        display: grid;
        grid-template-columns: 350px 350px  350px;
        column-gap: 37px;
        row-gap: 37px;
    }
}
